{% load tgo_tags %}
{% include 'table_tgo/navbar.html' %}


<span id="formFilter">
<form action="" method="get"  class="form-inline justify-content-left">
    <select name="select" class="ml-2 mb-1 form-select form-select-sm">
        {% if filter == 'all' %}
            <option value="request">Мои</option>
            <option value="all" selected>Все</option>
        {% else %}
            <option value="request" selected>Мои</option>
            <option value="all">Все</option>
        {% endif %}
      </select>
      <button type="submit" class="ml-1 mb-1 btn btn-primary btn-sm">Фильтр</button>
</form>
</span>
<table id="tgoList" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>ТГО {% button_add 'table_tgo:create_tgo' %}</th>
            <th>Дата создания</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for t in tgo %}  
            <tr>
                <td>
                    {{t.title}} 
                    {% if request.user == t.author %}
                        {% del_button 'table_tgo:delete_tgo' t.id %}
                        {% edit_button 'table_tgo:edit' t.id %}
                    {% endif %}
                    
                </td>
                <td>{{t.time_create|date:"d-m-Y"}}</td>
                <td>
                    <a href="{{ t.get_absolute_url }}" class="btn btn-outline-primary">Подробнее...</a>
                </td>
                <td>
                    {% copy_button 'table_tgo:copy_tgo' t.id "Копия" "Создать копию операций ТГО?" %}
                </td>
                <td>
                    {% copy_button 'table_tgo:copy_tgo_all' t.id "Полная копия" "Создать полную копию ТГО?" %} 
                </td>
            </tr>     
        {% endfor %}
    </tbody>
</table>
