{% load tgo_tags %}
{% include 'table/navbar.html' %}

<span id="formFilter">
    <form action="" method="get"  class="form-inline justify-content-left">
        <select name="select" class="ml-2 mb-1 form-select form-select-sm">
            {% if filter == 'all' %}
                <option value="request">Мои</option>
                <option value="all" selected>Все</option>
            {% else %}
                <option value="request" selected>Мои</option>
                <option value="all">Все</option>
            {% endif %}
        </select>
        <button type="submit" class="ml-1 mb-1 btn btn-primary btn-sm">Фильтр</button>
    </form>
</span>
<table id="tgoList" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>ТГО {% button_add 'table_tgo:create_tgo' %}</th>
            <th>Дата создания</th>
            <th>Время</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for t in tgo %}  
            <tr>
                <td>{{t.title}}</td>
                <td>{{t.time_create|date:"d-m-Y"}}</td>
                <td>{{t.tgo_length}}</td>
                <td>
                    <form method='post' action="{{ t.get_absolute_url }}">
                        {% csrf_token %}
                        <input type="hidden"  name="author" value={{ t.author }}> 
                        <button href="#" type="submit" class="btn btn-outline-primary">Подробнее...</button>
                     </form>   
                </td>
                <td>
                    {% copy_button 'table_tgo:copy_tgo' t.id "Копия" "Создать копию операций ТГО?" %}
                </td>
                <td>
                    {% copy_button 'table_tgo:copy_tgo_all' t.id "Полная копия" "Создать полную копию ТГО?" %} 
                </td>
                {% if request.user == t.author %}
                    <td>
                        {% edit_button 'table_tgo:edit' t.id %}
                    </td>
                    <td>
                        {% del_button 'table_tgo:delete_tgo' t.id %}
                    </td>
                {% else %}
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>     
        {% endfor %}
    </tbody>
</table>
