
{% extends "table_tgo/base.html" %}
{% load tgo_tags %}
    
{% block content %}
        <div class="container">
            <div class="row">               
                <span class="h3 d-flex justify-content-left"> 
                    <span id="title" class="h3">{{ title_TGO }}</span>
                    {% include 'table_tgo/data/tgo/instructions.html' %} 
                </span>               
            </div>
            <div class="row">
                {% include 'table_tgo/data/tgo/graphic.html' %}
                {% include 'table_tgo/data/tgo/tgo_ojects_table.html' %}
            </div>
        </div>
        
        <input type="hidden" class="add_tgo_object modalButton" data-form-url="{% url  'table_tgo:create_tgo_object' tgo_id %}" />
{% endblock %}

