{% extends "timetable/base.html" %}
{% load tgo_tags %}
{% load timetable_tags %}
{% block content %}
    
    {% include 'table/navbar.html' %}
    
    <h4 class="ml-2">
            <span class="h4">{{title_timetable}}</span>
            <br>
            <div class="mt-2">
                <a class="btn btn-outline-primary" href="{% url 'timetable:timetable_list' %}">Назад</a>
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Справочники
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'timetable:airlines' %}">Авиакомпании</a>
                    <a class="dropdown-item" href="{% url 'timetable:airplane' %}">Воздушные судна</a>
                    <a class="dropdown-item" href="{% url 'timetable:country' %}">Страны</a>
                    <a class="dropdown-item" href="{% url 'timetable:city' %}">Города</a>
                    <a class="dropdown-item" href="{% url 'timetable:airport' %}">Аэропорты</a>
                    <a class="dropdown-item" href="{% url 'timetable:flight' %}">Рейсы</a>
                    <hr>
                    <a class="dropdown-item" href="{% url 'timetable:timetableStatus' %}">Статусы Рейсов</a>
                </div>
               
                <a class="btn btn-outline-primary  modalButton" data-form-url="{% url 'timetable:add_timetable' timetable_id %}">Добавить</a>
                <span id="timetable-resetFilter" class="btn btn-outline-success">Сбросить фильтры</span>
            </div>
          <hr>
    </h4> 

    <table id="timetable" class="table table-striped" style="width:100%">
        <thead> 
            <tr>
                <th rowspan="2">Аваиакомпания</th>
                <th rowspan="2">Рейс</th>
                <th rowspan="2">Тип</th>
                <th rowspan="2">Путь</th>
                <th rowspan="2">Базовый аэропорт</th>

                <th colspan="2">ВС</th>

                <th rowspan="2">Прилет</th>
                <th rowspan="2">Начало Регистрации</th>
                <th rowspan="2">Конец Регистрации</th>
                <th rowspan="2">Вылет</th>
                <th rowspan="2">Следующий день</th>
                <th rowspan="2">Начало действия</th>
                <th rowspan="2">Конец действия</th>
                <th rowspan="2">Длительность</th>
                
                <th rowspan="2">ТГО</th>
                <th rowspan="2">Статус</th>
                <th rowspan="2">Комментарий</th>
                <th rowspan="2"></th>
                <th rowspan="2"></th>
            </tr>
            <tr>
                <th>Тип ВС</th>
                <th>Комплектация</th>
            </tr>
            <tr style="display: none;" class="forFilter">
                <th>Аваиакомпания</th>
                <th>Рейс</th>
                <th>Тип</th>
                <th>Путь</th>
                <th>Базовый аэропорт</th>

                
                <th>Тип ВС</th>
                <th>Комплектация</th>
                
                <th>Прилет</th>
                <th>Начало Регистрации</th>
                <th>Конец Регистрации</th>
                <th>Вылет</th>
                <th>Следующий день</th>

                <th>Начало действия</th>
                <th>Конец действия</th>
                <th>Длительность</th>

                <th>ТГО</th>
                <th>Статус</th>
                <th>Комментарий</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody> 
            {% for t, th in timetable %}  
            <tr style="background-color: {% background t.timetablestatusight %}; color: {% color t.timetablestatusight %}">
                {% classTimetable t.airline 'airline' th %}
                {% classTimetable t.flight 'flight' th %}
                {% classTimetable t.flight.type_flight 'type_flight' th %}
                {% classTimetable t.flight.get_path_flight '' th %}
                {% classTimetable t.flight.departurelAirport 'departurelAirport' th %}
                
                {% classTimetable t.flight.airplane 'airplane' th %}
                {% classTimetable t.flight.equipmentAirplane 'equipmentAirplane' th %}

                {% classTimetable t.arrival_time 'arrival_time' th %}
                {% classTimetable t.start_register_time 'start_register_time' th %}
                {% classTimetable t.end_register_time 'end_register_time' th %}
                {% classTimetable t.departure_time 'departure_time' th %}
                {% classTimetable t.next_day_status 'next_day_status' th %}

                {% classTimetable t.date_start 'date_start' th %}
                {% classTimetable t.date_end 'date_end' th %}
                {% classTimetable t.date_end 'date_end' th %}

                {% classTimetable t.tgo.tgo_length 'tgo' th %}
                {% classTimetable t.timetablestatusight 'timetablestatusight' th %}
                {% classTimetable t.comment 'comment' th %}
                <td>
                    {% edit_button 'timetable:edit_timetable' t.id %}
                </td>
                <td>
                    {% del_button 'timetable:delete_timetable' t.id %}
                </td>
            </tr>     
        {% endfor %}
        </tbody>
    </table>
{% endblock %}