{% extends "user/base.html" %}
{% load widget_tweaks %}


{% block content %}
    <h2 class="text-center">Сброс пароля</h2>
    <hr>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
                    {{ field.label_tag }} 
                    {{ field }}
                    {% if field.errors %}
                        <small>{{ field.errors|striptags  }}</small> 
                    {% endif %}
        {% endfor %} 
        <button type="submit" class="btn btn-dark">Сбросить пароль</button>
        <p class="alternate">
            <a href="{%url 'user:login' %}">Отмена</a>
        </p>
    </form>
{% endblock %}
