{% extends "user/base.html" %}
{% load widget_tweaks %}


{% block content %}
        <form method="post" >
        {% csrf_token %}
        <h2>Сброс пароля</h2>
        {% for field in form %}
            <div class="form-group">
                {% render_field field class="form-control" placeholder=field.label %}
                <div class="{% if field.errors %} invalid{% endif %}">
                {% for error in field.errors %}
                    <p class="m-1 alert alert-warning">{{ error }}</p>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
        
        <button type="submit" class="btn btn-dark">Сбросить пароль</button>
        </form>
{% endblock %}
