{% extends "table/base.html" %}
  
{% block content %}
    {% include 'table/navbar.html' %}
    {% include 'table/parameters.html' %}
    {% include 'table/table.html' %}
    {% include 'table/graphic.html' %}
    {% endblock content %}{% block javascript %}
    {% include 'table/dataGraphic.html' %}
    
    <div class="modal fade" tabindex="-1" id="modal-product" aria-labelledby=".modalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock %}