<nav class="navbar navbar-expand-lg navbar-light bg-white mb-3">
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            {% if request.resolver_match.app_name == 'table' %}
                <span class="navbar-brand font-weight-bold">Абсентеизм</span>
            {% else %}
                <a class="navbar-brand" href="{% url 'table:index' %}">Абсентеизм</a>
            {% endif %}

            {% if request.resolver_match.app_name == 'timetable' %}
                <span class="navbar-brand font-weight-bold">Расписание</span>
            {% else %}
            <a class="navbar-brand" href="{% url 'timetable:timetable_list' %}">Расписание</a>
            {% endif %}

            {% if request.resolver_match.app_name == 'table_tgo' %}
                <span class="navbar-brand font-weight-bold">ТГО</span>
            {% else %}
            <a class="navbar-brand" href="{% url 'table_tgo:index' %}">ТГО</a>
            {% endif %}
        </ul>

        <span class="navbar-text">
            <span class="userlabelinTable">
                <span>{{user.username}}</span> | <a href="{% url 'user:logout' %}">Выйти</a>
            </span>
        </span>
    </div>
</nav>

