<div class="container-fluid alert alert-primary settingDiv">
    <div class="row">
      <div class="col checkColumn ml-4">
        <div><label><input type="checkbox" class="toggle-vis form-check-input" data-column="0" id="hideID">ID</label></div>
        <div><label><input type="checkbox" class="toggle-vis form-check-input" data-column="1">Смена</label></div>
        <div><label><input type="checkbox" class="toggle-vis form-check-input" data-column="2">Служба</label></div>
        <div><label><input type="checkbox" class="toggle-vis form-check-input" data-column="3">Должность</label></div>
        <div><label><input type="checkbox" class="toggle-vis form-check-input" data-column="4">Сотрудник</label></div>
        <div><label><input type="checkbox" class="toggle-vis form-check-input" data-column="5">Причина</label></div>
      </div>
      <div class="col checkColumn">
        <div><label><input type="checkbox" class="toggle-vis form-check-input" data-column="6">Примечание</label></div>
        <div><label><input type="checkbox" class="toggle-vis form-check-input" data-column="7">Продолжительность</label></div>
        <div><label><input type="checkbox" class="toggle-vis form-check-input" data-column="8">Начало</label></div>
        <div><label><input type="checkbox" class="toggle-vis form-check-input" data-column="9">Окончание</label></div>
        <div><label><input type="checkbox" class="toggle-vis form-check-input" data-column="10">Изменить</label></div>
        <div><label><input type="checkbox" class="toggle-vis form-check-input" data-column="11" id="hideDeleteRowButton">Удалить</label></div>
      </div>
      <div class="col"></div>

      <div class="col">
        <div class="">
            <div class="form-group">
                <label>От</label>
                <input type="date" id="minDate"
                    class="form-control" >
            </div>
            <div class="form-group">
                <label>До</label>
                <input type="date" id="maxDate"
                    class="form-control">
            </div>  
            <button id="ButtonDateFilter" type="button" class="btn btn-success mt-2">Отфильтровать даты</button>
        </div>
      </div>

      <div class="col relativeDate">
        <br>
        <button type="button" class="btn mt-2" value ="1" name="isoWeek">Прошлая неделя</button><br>
        <button type="button" class="btn mt-2" value ="1" name="month">Прошлый месяц</button><br>
        <button type="button" class="btn mt-2" value ="1" name="quarter">Прошлый квартал</button><br>
        <button type="button" class="btn mt-2" value ="1" name="year">Прошлый год</button><br>
      </div>
      <div class="col relativeDate">
        <br>
        <button type="button" class="btn mt-2" value ="0" name="isoWeek">Текущая неделя</button><br>
        <button type="button" class="btn mt-2" value ="0" name="month">Текущий месяц</button><br>
        <button type="button" class="btn mt-2" value ="0" name="quarter">Текущий квартал</button><br>
        <button type="button" class="btn mt-2" value ="0" name="year" id="thisYearButton">Текущий год</button><br>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
</div>