{% extends "timetable/models/model_base.html" %}
{% load tgo_tags %}


{% block list %}
    

   <span id="" class="btn btn-outline-warning">Комплектации ВС</span>
   {% add_button_text 'timetable:add_airplane' %}
   <span id="airplane_dt-resetFilter" class="btn btn-outline-success">Сбросить фильтры</span>

   <hr>
   <table id="airplane_dt" class="table table-striped" style="width:100%">
   <thead> 
      <tr>
         <th>Аваиакомпания</th>
         <th>Воздушное судно</th>
         <th></th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      {% for a in airplane %}  
         <tr>
            <td>{{ a.airline }}</td>
            <td>{{ a.title }}</td>
            <td>
                  {% edit_button 'timetable:edit_airplane' a.id %}
            </td>
            <td>
                  {% del_button 'timetable:delete_airplane' a.id %}
            </td>
         </tr>     
      {% endfor %}
   </tbody>
   </table>
      
{% endblock %}