{% extends "timetable/models/model_base.html" %}
{% load tgo_tags %}

{% block list %}
    


   {% add_button_text 'timetable:add_city' %}
   <span id="city_dt-resetFilter" class="btn btn-outline-success">Сбросить фильтры</span>

   <hr>
   <table id="city_dt" class="table table-striped" style="width:100%">
   <thead> 
      <tr>
         <th>Название</th>
         <th>Страна</th>
         <th>Тип</th>
         <th></th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      {% for c in city %}  
         <tr>
            <td>{{ c.title }}</td>
            <td>{{ c.country }}</td>
            <td>{{ c.country.type }}</td>
            <td>
                  {% edit_button 'timetable:edit_city' c.id %}
            </td>
            <td>
                  {% del_button 'timetable:delete_city' c.id %}
            </td>
         </tr>     
      {% endfor %}
   </tbody>
   </table>
      
{% endblock %}