{% extends "timetable/models/model_base.html" %}
{% load tgo_tags %}

{% block list %}
   <span class="h3">Типы рейсов</span>
   <div class="mt-2">
      <a class="btn btn-outline-primary" href="{% url 'timetable:flight' %}">Назад</a>
      {% add_button_text 'timetable:add_type_flight' %}
      <span id="type_flight_dt-resetFilter" class="btn btn-outline-success">Сбросить фильтры</span>
   </div>  
   <hr>
   <table id="type_flight_dt" class="table table-striped" style="width:100%">
   <thead> 
      <tr>
         <th>Название</th>
         <th></th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      {% for tf in typeFligh %}  
         <tr>
            <td>{{ tf.title }}</td>
            <td>
                  {% edit_button 'timetable:edit_type_flight' tf.id %}
            </td>
            <td>
                  {% del_button 'timetable:delete_type_flight' tf.id %}
            </td>
         </tr>     
      {% endfor %}
   </tbody>
   </table>
{% endblock %} 
