body{
    opacity: 0;
  }
  
  .settingDiv{
    display: none
  }
  
  * {
    font-size:  calc(1.8vmin);
  }
  
  
  
  #resetFilter {
      margin: 0 0.5%  0 0; 
  }
  
  
  .buttonRight {
    float: right;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
    padding: 20px;
  }
  
  
  
  #dt-table_wrapper {
    width: 35%;
    margin-right: 2%;
  }
  
  
  foot {
    display: table-header-group; /* или так */
  }
  
  #thead {
    margin: 0;
    padding: 0;
  }
  
  svg {
    margin: 0;
    width: calc(2.2vmin);
  }
  
  .marg div{
    margin-top: 5%;
  }
  
  .marg2 div{
    margin-top: 2.2%;
  }
  
  .done{
      color: white;
  }
  
  .resetDiv {
    margin: 0 0 0.5% 0;
  }
  
  .btn {
    min-width: 10em;
  }
  
  .userlabelinTable {
    float: right;
  }
  .userlabelinTable span, a {
    font-size: 130%;
  }
  
  
  
  li {
    text-decoration: none;
  }
  
  .dataTables_filter {
    float: left !important;
    margin-left: 10px;
  }
  