{% extends "base.html" %}
  
{% block content %}
    {% include 'navbar.html' %}

    {% include 'parameters.html' %}
    {% include 'table.html' %}
    {% include 'graphic.html' %}
    {% endblock content %}{% block javascript %}
    {% include 'dataGraphic.html' %}
    
    <div class="modal fade" tabindex="-1" id="modal-product" aria-labelledby=".modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock %}