
{% load tgo_tags %}

<table id="current_tgo">
    <tbody style="display:none">
        {% for t in tgo_objects %}  
            <tr>
                <td>{{t.order}}</td>
                <td>{{t.operation}}{% if request.user == t.author %}{% del_button 'table_tgo:delete_tgo_object' t.id %}{% edit_button 'table_tgo:edit_tgo_object' t.id %}{% endif %}</td>
                <td>{% if request.user == t.author %}{% button_add_resource 'table_tgo:create_tgo_object_resource' t.id tgo_id %}{% endif %}</td>
                <td></td>
                <td>{{t.time_start}}</td>
                <td>{{t.time_end}}</td>
                <td>{{t.time_lenght}}</td>
                <td>{% unique_list t.ressource.all %}</td>

                
                <td>{{t.id}}</td>
                <td>table_tgo_tgo_object</td>
                <td class="author">{{t.author}}</td>
            </tr>
            {% for r in t.ressource.all %}
                <tr>
                    <td>{{t.order}}.{{forloop.counter}}</td>
                    <td></td>
                    <td>{{ r.ressource }}{% if request.user == t.author %}{% del_button 'table_tgo:delete_resource' r.id %}{% edit_button 'table_tgo:edit_resource' r.id %}{% endif %}</td>
                    <td>{{ r.count }}</td>
                    <td>{{r.time_start}}</td>
                    <td>{{r.time_end}}</td>
                    <td>{{r.time_lenght}}</td>
                    <td>{{ r.ressource.office.title }}</td>

                    
                    <td>{{r.id}}</td>
                    <td>table_tgo_ressourceoperation</td>
                    <td>{{t.author}}</td>
                </tr>
            {% endfor %}   
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<div id="spreadsheet" style='width:100%;max-width:600px;height:100px;'></div>
<input type="hidden" value={{ request.user }} class="requestUser"/>
<form method='post' action="{% url 'table_tgo:index' %}">
    {% csrf_token %}
    <input type="hidden" name="author_tgo" value={{ author }}>
    <input type="hidden" name="author" value={{ tgo_objects.first.author }}>  
    <button type="hidden" id="urlIndex" type="submit"></button>
 </form>

